body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff69b4;
}

.heart {
    font-size: 50px;
}

button {
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #ff1493;
}

#responseMessage {
    margin-top: 20px;
    font-size: 20px;
    color: #ff69b4;
}

/* Gaya untuk halaman terima kasih */
.thankyou-container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.thankyou-container h1 {
    color: #ff69b4;
}

.thankyou-container p {
    font-size: 20px;
    color: #333;
}